- content_for :title do 
  Corsego
  \|
  Online Courses - learn anything, On Your Schedule
  
%h1
  What do you want to learn today?

  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px;', placeholder: "Find a course", autocomplete: "off"
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit" }
          %span.fa.fa-search{"aria-hidden" => true}  

%p





  / .form-inline.my-2.my-lg-0
  / = form_tag(courses_path, method: :get) do
  /   .input-group
  /     = text_field_tag :title, params[:title], autocomplete: "off", placeholder: "Search", class: "form-controll"
  /     %span.input-group-append
  /       %button.btn.btn-primary.btn-sm{:type => "submit"}
  /         %span.fa.fa-search{"aria-hidden" => "true"}
.card-group
  .card.card-body
    %h1 
      .fa.fa-gradutation-cap
      = Course.count
      Online courses
      .row
      Explore a varity of fresh tipics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      = Course.distinct.count(:user_id)
      Expert Instractions 
      .row
      Find the right instractor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
      = User.count
      active learners
      .row
      Join the knowlege sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
      lifetime access
      .row
      Learn on your schedule



%hr/
%h2
  Populer courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr/
%h2
  Top Rated courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr/
%h2
  Latest Recent
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course

%hr/

